/* body { */
/*   font-family: Noto Serif, Georgia, serif; */
/* } */
/* pre { */
/*     padding: 7px 15px; */
/* } */
/* div.admonition code { */
/*     background: #c9dbe8; */
/*     /\* color: #60a0b0; *\/ */
/* } */
/* div.body h4, div.body h5, div.body h6 { */
/*     margin: 10px 0px 10px 0px; */
/* } */
/* div.body h3 { */
/*     margin: 20px 0px 10px 0px; */
/* } */
/* div.admonition { */
/*     padding: 10px 15px; */
/* } */
/* div.note { */
/*     background-color: #0e84b51c; */
/* } */
/* div.body h2 { */
/*   padding-bottom: 4px; */
/*   border-bottom: 1px solid rgb(151, 157, 164); */
/* } */
/* .highlight .si, .highlight .c1  { */
/*   font-style: normal !important; */
/* } */
